@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.admin-history-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  box-sizing: border-box;
}

.h1-collar {
  color: #656565;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.admin-nav a {
  color: #656565;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
  margin-bottom: 10px;
  display: block;
}

.admin-nav a:hover {
  color: #3a3a3a;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  width: 100%;
  max-width: 800px;
}

.search-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.search-bar label {
  white-space: nowrap;
}

.search-bar input,
.search-bar select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  max-width: 25%;
}

.search-bar button:focus {
  outline: none;
  box-shadow: 0 0 3px #555;
}

.th-collar {
  background-color: #656565;
  color: #FFF;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.a-collar {
  color: #656565;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.a-collar:hover {
  color: #3a3a3a;
}


@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .search-group {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 4px;
  }

  .search-group label {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .search-group input[type="text"] {
    box-sizing: border-box;
    margin-bottom: 5px;
  }

  .search-bar input,
  .search-bar select {
    max-width: 100%;
    min-width: 100%;
  }

  .search-group button {
    box-sizing: border-box;
  }

  .admin-nav a {
    font-size: 0.8rem;
  }
}