@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1-collar {
  color: #0f0;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.def-nav a {
  color: #0f0;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.def-nav a:hover {
  color: #32cd32;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.choice-delete-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex; /* 子要素をフレックスレイアウトにする */
  flex-direction: column; /* 縦方向に要素を並べる */
  justify-content: top;
  align-items: center; /* 横方向の中央に配置 */
  height: 100vh; /* 画面の高さいっぱいにする */
  width: 100%;
  margin: 0 auto; /* 横方向の中央寄せ */
  -webkit-overflow-scrolling: touch;
}

.table-wrapper {
  width: 100%;
  max-width: 100vw; /* テーブル幅を画面幅に対応 */
  overflow-x: auto; /* 横スクロールを許可する */
  overflow-y: auto; /* 縦スクロールを許可する */
  border: 1px solid #999; /* 境界線を追加してスクロール領域を明確にする */
  box-sizing: border-box; /* パディングやボーダーを含めてサイズを計算 */
  -webkit-overflow-scrolling: touch; /* iOSでスムーズスクロールを有効化 */
  margin: 10px auto; /* デフォルトでは中央揃えにする */
}


.th-collar{
  background-color: #0f0;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

/* ボタンホバー時の効果 */
.delete-button:hover {
  background-color: #32cd32;
  box-shadow: 0 0 5px #555;
}

/* 画面幅が768px以下の場合にテーブルを左寄せに変更 */
@media (max-width: 768px) {
  .table-wrapper {
    margin: 10px 0; /* 左揃えにするため中央配置を解除 */
    justify-content: flex-start; /* コンテンツを左寄せに */
    padding-left: 10px; /* 左側に少し余白を追加して視認性を向上 */
  }

  .def-nav a {
    font-size: 0.8rem;
  }
}
