@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1-collar {
  color: #0f0;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.def-search-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.def-nav a {
  color: #0f0;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.def-nav a:hover {
  color: #32cd32;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.search-bar {
  display: flex; /* Flexboxで子要素を柔軟に配置 */
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: center; /* 縦方向中央寄せ */
  align-items: center; /* 横方向中央寄せ */
  gap: 15px; /* 子要素間のスペースを15pxに設定 */
  margin: 20px 0; /* 上下に20pxのマージンを設定 */
  flex-wrap: wrap; /* 幅が足りない場合に子要素を折り返し */
}

.search-bar label {
  align-self: flex-start;
  margin-left: 20px;
}

.search-bar select {
  padding: 8px 10px; /* 内部の余白を設定 */
  margin: 0 auto; /* 入力欄を中央揃えにする */
  border: 1px solid #ccc; /* 枠線の設定 */
  border-radius: 4px; /* 角を丸くする */
  font-size: 1rem; /* フォントサイズ */
  width: calc(100% - 20px); /* フォーム幅に応じて調整し、左右に隙間を持たせる */
  max-width: 400px; /* 最大幅を設定（必要に応じて調整） */
  box-sizing: border-box; /* パディングを含めて幅を計算 */
}

.search-bar select:focus {
  border-color: #0f0;
  outline: none;
  box-shadow: 0 0 3px #555;
}

.definition-content {
  display: flex; /* フレックスボックスを有効化 */
  flex-direction: column; /* 縦並びにする */
  justify-content: flex-start; /* 上方向に揃える（未使用であれば削除してもOK） */
  align-items: flex-start; /* 左揃えにする */
  max-width: calc(100vw - 30px);; /* 親要素内での最大幅 */
  overflow-x: auto; /* 横スクロールを有効に */
  overflow-y: auto; /* 縦スクロールを有効に */
  border: 1px solid #ccc;
  margin: 15px;
  box-sizing: border-box; /* パディングやボーダーを含めたサイズを計算 */
  -webkit-overflow-scrolling: touch; /* モバイル向けスムーズスクロール */
  scroll-behavior: auto; /* スクロール位置のアニメーションを無効化（必要に応じて） */
}

.definition-content h2 {
  white-space: pre; /* 改行や空白をそのまま反映させる */
  overflow-wrap: normal; /* 折り返しを抑制し、横方向にスクロール */
  text-align: left; /* 左揃え */
  margin: 0;
}

.definition-content p {
  white-space: pre; /* 改行や空白をそのまま反映させる */
  overflow-wrap: normal; /* 折り返しを抑制し、横方向にスクロール */
  text-align: left; /* 左揃え */
  margin: 0 10px 20px 10px; /* 左側の余白が加算されるため適切に調整 */
}

@media (max-width: 768px) {
  .def-nav a {
    font-size: 0.8rem;
  }
}