:root {
  --light-grey: #eee;
  --oswald-font: 'Oswald', sans-serif;
}


#loading {
  background-color: var(--light-grey); /* 背景色を灰色に設定 */
  position: fixed; /* 画面全体に固定 */
  top: 0; /* 画面の上から配置 */
  left: 0; /* 画面の左から配置 */
  width: 100%; /* 画面全体の幅を占有 */
  height: 100%; /* 画面全体の高さを占有 */
  visibility: hidden; /* 初期状態で非表示 */
  z-index: 9999; /* 他の要素より前面に表示 */
}


#loading img {
  position: absolute; /* 親(#loading)を基準に配置される */
  width: 40vw; /* 画面幅の30% */
  height: auto; /* アスペクト比を保持 */
  object-fit: cover; 
}


#loading p {
  font-size: clamp(1rem, 2.5vw, 2rem); /* 最小1rem, 画面幅に基づき2.5vw, 最大2rem */
  font-family: var(--oswald-font); /* カスタムフォント "Oswald" を適用 */
  position: absolute; /* 要素を親要素からの相対位置で配置 */
  white-space: nowrap; /* 1行で表示させる */
  overflow: hidden; /* はみ出し部分を非表示にする */
  text-overflow: ellipsis; /* はみ出し部分を「...」で省略 */
}


@keyframes sway {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}


.sway {
  animation: sway 2s infinite ease-in-out;
}