@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.team-list-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex; /* 子要素をフレックスレイアウトにする */
  flex-direction: column; /* 縦方向に要素を並べる */
  justify-content: top;
  align-items: center; /* 横方向の中央に配置 */
  height: 100vh; /* 画面の高さいっぱいにする */
  width: 100%;
  margin: 0 auto; /* 横方向の中央寄せ */
  -webkit-overflow-scrolling: touch;
}

.h1-collar {
  color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-nav a {
  color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-nav a:hover {
  color: #f10;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.search-bar input,
.search-bar select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 180px;
}

.search-bar input:focus,
.search-bar select:focus {
  border-color: #f50;
  outline: none;
  box-shadow: 0 0 3px #555;
}

.search-bar button:hover {
  background-color: #f10;
  box-shadow: 0 0 5px #555;
}

.search-bar button:focus {
  outline: none;
  box-shadow: 0 0 3px #555;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-wrapper {
  width: 100%;
  max-height: 400px;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}

.th-collar {
  background-color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.status-ok {
  color: blue;
  font-weight: bold;
}

.status-ng {
  color: red;
  font-weight: bold;
}

.a-collar {
  color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.a-collar:hover {
  color: #f10;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .team-nav a {
    font-size: 0.8rem;
  }
}