keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1-collar {
  color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-nav a {
  color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-nav a:hover {
  color: #f10;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-view-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.table-wrapper {
  width: 100%;
  max-height: 400px;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}

.th-collar1 {
  background-color: #ffefd8;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.th-collar2 {
  background-color: #0af;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.th-collar3 {
  background-color: #ff90f8;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.th-total {
  font-size: 1.5rem;
}

/* --- テーブル本体 (tbody) のスタイル (背景画像のための設定) --- */
.table-wrapper table tbody {
  position: relative; /* 疑似要素の配置基準点とする */
}

/* --- テーブル本体 (tbody) への背景画像の追加 (疑似要素) --- */
.table-wrapper table tbody::before {
  content: ""; /* 疑似要素の内容は空 */
  position: absolute; /* 親要素 (tbody) を基準に絶対配置 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../img/RAV4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.year-month-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.year-month-selector select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  appearance: none;
}

.shop-select-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.shop-select-container select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  appearance: none;
}

.year-month-selector select:hover,
.shop-select-container:hover {
  border-color: #f10;
}

@media (max-width: 768px) {
  .table-wrapper {
    margin: 0;
    justify-content: flex-start;
  }

  .table-wrapper table {
    transform: scale(0.6);
    transform-origin: top left;
  }

  .kosu-nav a {
    font-size: 0.8rem;
  }
}