keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1-collar {
  color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-nav a {
  color: #f50;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-nav a:hover {
  color: #f10;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.team-calendar-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.table-wrapper {
  width: 100%;
  max-height: 400px;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}

.th-collar1 {
  background-color: #ffefd8;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.th-collar2 {
  background-color: #0af;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.th-collar3 {
  background-color: #ff90f8;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.time-work-cell {
  width: 130px; 
  min-width: 130px;
  max-width: 130px;
  white-space: normal; 
  text-align: center;
}

.select-form {
  display: flex; 
  flex-direction: column;
  gap: 10px; 
  margin-bottom: 20px; 
  align-items: center;
}

.select-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.select-form input {
  padding: 8px 12px; /* 内側の余白 */
  border-radius: 5px; /* 角を丸くする */
  border: 1px solid #ccc; /* 枠線を灰色で設定 */
  background-color: #fff; /* 背景色を白に設定 */
  font-size: 1.5rem; /* 文字サイズを大きく設定 */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  appearance: none; /* OS標準のドロップダウンの見た目を無効化 */
}

.select-form input:hover {
  border-color: #f10;
}

/* --- テーブル本体 (tbody) のスタイル (背景画像のための設定) --- */
.table-wrapper table tbody {
  position: relative; /* 疑似要素の配置基準点とする */
}

/* --- テーブル本体 (tbody) への背景画像の追加 (疑似要素) --- */
.table-wrapper table tbody::before {
  content: ""; /* 疑似要素の内容は空 */
  position: absolute; /* 親要素 (tbody) を基準に絶対配置 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* tbody全体を覆う */
  background-image: url("../../img/RAV4.png"); /* 背景画像を指定 */
  background-size: contain; /* 画像全体が表示されるように調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しをしない */
  opacity: 0.2; /* 透明度を20%に設定 */
  z-index: -1; /* 他のコンテンツの下に配置 */
}

@media (max-width: 768px) {
  .table-wrapper {
    margin: 0;
    justify-content: flex-start;
  }

  .table-wrapper table {
    transform: scale(0.6);
    transform-origin: top left;
  }

  .kosu-nav a {
    font-size: 0.8rem;
  }
}