@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-wrapper {
  animation: fadeInUp 1s ease-out;
  width: 100%;
  max-height: 100%;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.login-logo {
  max-width: min(400px, 90%);
  width: auto;
  height: auto;
  margin: 0 auto; 
  margin-bottom: 40px;
  object-fit: contain;
}

.search-bar input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: calc(100% - 60px);
}

.search-bar input:focus {
  border-color: #08f;
  outline: none;
  box-shadow: 0 0 3px #555;
}

/* styles/MainPage/Login.module.css */

.help-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #007bff;
  transform: rotate(45deg);
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 0s linear 3.0s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* ホバー時は色のみ変更（動きはなし） */
.help-button:hover {
  background-color: #007bff;
  /* scale(1.1) などを削除して拡大しないように設定 */
}

.help-button::after {
  content: "?";
  /* 文字の向きを正位置に戻す */
  transform: rotate(-45deg);
  color: #007bff;
  font-weight: bold;
  font-size: 20px;
}

/* ホバー時の中の文字色 */
.help-button:hover::after {
  color: #ffffff;
}