.number-input-group {
  display: flex;
  align-items: center;
}


.form-control {
  margin: 0 10px; /* ボタンとの間にスペースを設ける */
  width: 100px; /* 任意の幅 */
  text-align: left; /* テキストを左詰めにする */
}


.form-control.custom-border {
  border-color: #000000; /* 外形線の色を設定 */
  text-align: left; /* さらにカスタムボーダーでも左詰めにする場合 */
}


.custom-checkbox .form-check-input,
input.big {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  border: 1px solid black;  /* 外形線の色を設定 */
}


.form-check-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.no-wrap {
  white-space: nowrap;
}


.text-center {
  text-align: center;
}
