.number-input-group {
  display: flex;
  align-items: center;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: #00aeff;  /* ボタンの背景色を設定 */
  color: white;  /* テキストの色を設定 */
  font-size: 1.2em;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;  /* 丸いボタンにする */
  margin: 0 5px;  /* ボタン間のスペースを設定 */
  text-shadow:
    -0.5px -0.5px 0 #000,
     0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
     0.5px  0.5px 0 #000;
}

.custom-button:hover {
  background-color: #009eb3;  /* ホバー時の背景色を設定 */
}

.form-control {
  margin: 0 10px; /* ボタンとの間にスペースを設ける */
  width: 100px; /* 任意の幅 */
  text-align: left; /* テキストを左詰めにする */
}

.form-control.custom-border {
  border-color: #000000; /* 外形線の色を設定 */
  text-align: left; /* さらにカスタムボーダーでも左詰めにする場合 */
}

.custom-checkbox .form-check-input,
input.big {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  border: 1px solid black;  /* 外形線の色を設定 */
}

.form-check-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.center-div {
  display: flex;
  justify-content: center;
}

#success-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw; /* ビューポートの幅を超えないように調整 */
  width: auto; /* 必要に応じて調整 */
  height: auto; /* 必要に応じて調整 */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 20px; /* 必要に応じて調整 */
  z-index: 1000;

  /* 文字のサイズを自動調整 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

  /* フォントサイズの調整 */
  font-size: calc(2vw + 2vh + 1vmin);
}

