{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'kosu/img/member.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'kosu/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kosu/css/console.css' %}">
    <script src="{% static 'kosu/js/check_storage2.js' %}"></script>
    <script src="{% static 'kosu/js/display.js' %}"></script>
  </head>
  <body id="display">
    <div id="content" class="container content">
      <h1 class="display-1 text-warning">{{title}}</h1>
      <p class="h6"><a href="{% url 'main' %}" class="text-warning">メインMENUへ</a></p>
      {% if data.authority == True %}
        <button onclick="location.href='/new'" class="btn btn-yellow1 w-100 mt-2 btn-lg">
          人員登録</button>
        <button onclick="location.href='/member/1'" class="btn btn-yellow2 w-100 mt-2 btn-lg">
          人員一覧</button>
      {% endif %}
    </div>
    <div id="consoleDiv"></div>
  </body>
</html>