{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'kosu/img/team.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'kosu/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kosu/css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kosu/css/console.css' %}">
    <script src="{% static 'kosu/js/check_storage2.js' %}"></script>
    <script src="{% static 'kosu/js/team_calendar_change.js' %}"></script>
  </head>
  <body>
    <div id="content" class="container content">
      <h1 class="display-4 text-danger">{{title}}</h1>
      <p class="h6"><a href="{% url 'team_main' %}" class="text-danger">班員MENUへ</a></p>
      <form action="{% url 'team_calendar' %}" method="post">
        {% csrf_token %}
        <p>　</p>
        <div class="number-input-group">
          <input type="date" class="form-control custom-border" style="width: 150px;" name="work_day" id="work_day" value={{default_day}}>　
          <button name="display_day" id="display_day" class="btn btn-link"></button>
          <button type="submit" name="export" id="export" class="btn btn-orange7 mt-2 d-block d-none d-md-block">入力状況をExcelに出力</button>
        </div>
        <p>　</p>
        <button type="submit" name="back_week" id="back_week" class="btn btn-orange7 mt-2">◀前の週へ</button>
        <button type="submit" name="next_week" id="next_week" class="btn btn-orange7 mt-2">次の週へ▶</button>
        <p>　</p>
        <p>
          <svg width="100" height="40">
            <rect x="0" y="0" width="90" height="40" fill="#33ff00" />
            <text x="15" y="25" font-weight="bold">入力時間</text>
          </svg>
          工数入力OK
        </p>
        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
            <p  class="text-danger">
              {{ message }}
            </p>
          </div>
        {% endfor %}
        <p>　</p>
      </form>
      <table class="table table-bordered border-dark">
        <tr>
          <th colspan="2" class="no-wrap" style="text-align:center;">曜日</th>
          <th class="table-pink no-wrap" style="text-align:center;">日</th>
          <th class="no-wrap" style="text-align:center;">月</th>
          <th class="no-wrap" style="text-align:center;">火</th>
          <th class="no-wrap" style="text-align:center;">水</th>
          <th class="no-wrap" style="text-align:center;">木</th>
          <th class="no-wrap" style="text-align:center;">金</th>
          <th class="table-light_blue no-wrap" style="text-align:center;">土</th>
        </tr>

        <tr>
          <td colspan="2" class="no-wrap" style="text-align:center;">日付</td>
          {% for i in day_list|slice:":7" %}
          {% if forloop.first %}
          <td class="table-pink no-wrap" style="text-align:center;">
          {% else %}
          {% if forloop.last %}
          <td class="table-light_blue no-wrap" style="text-align:center;">
          {% else %}
          <td class="no-wrap" style="text-align:center;">
          {% endif %}
          {% endif %}
            <div class="fw-bold">{{i|date:"n/j"}}</div>
          </td>
          {% endfor %}
        </tr>

        {% for member_name, work_list, over_time_list, kosu_list, ok_ng_list in team_total_list %}
          {% if member_num >= forloop.counter %}
            <tr>
              <td rowspan="3" class="no-wrap" style="text-align:center;"><br><br><br>{{member_name}}</td>
              <td class="no-wrap" style="text-align:center;">勤務</td>
              {% for i in work_list %}
                {% if forloop.first %}
                  <td class="table-pink no-wrap" style="text-align:center;">
                {% else %}
                  {% if forloop.last %}
                    <td class="table-light_blue no-wrap" style="text-align:center;">
                  {% else %}
                    <td class="no-wrap" style="text-align:center;">
                  {% endif %}
                {% endif %}
                  <div class="fw-bold">
                    {% if i %}
                      {{i}}
                    {% endif %}
                  </div>
                </td>
              {% endfor %}
            </tr>

            <tr>
              <td class="no-wrap" style="text-align:center;">残業(分)</td>
              {% for i in over_time_list %}
                {% if forloop.first %}
                  <td class="table-pink no-wrap" style="text-align:center;">
                {% else %}
                  {% if forloop.last %}
                    <td class="table-light_blue no-wrap" style="text-align:center;">
                  {% else %}
                    <td class="no-wrap" style="text-align:center;">
                  {% endif %}
                {% endif %}
                  <div class="fw-bold">{{i}}</div>
                </td>
              {% endfor %}
            </tr>

            <tr>
              <td class="no-wrap" style="text-align:center;">入力時間</td>
              {% for i in kosu_list %}
              {% with inp=ok_ng_list.pop %}
              {% if forloop.first and inp == False %}
              <td class="table-pink no-wrap" style="text-align:center;">
              {% else %}
              {% if forloop.last and inp == False %}
              <td class="table-light_blue no-wrap" style="text-align:center;">
              {% else %}
              {% if inp == True %}
              <td class="table-green no-wrap" style="text-align:center;">
              {% else %}
              <td class="no-wrap" style="text-align:center;">
              {% endif %}
              {% endif %}
              {% endif %}
                {% for k in i %}
                <div class="fw-bold">{{k}}</div>
                {% endfor %}
              </td>
              {% endwith %}
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
    <div id="consoleDiv"></div>
  </body>
</html>