@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1-collar {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a:hover {
  color: #0af;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.brea-time-wrapper {
  animation: fadeInUp 1s ease-out;
  width: 100%;
  max-height: 100%;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .kosu-new-wrapper {
    margin: 0;
    justify-content: flex-start;
  }

  .kosu-nav a {
    font-size: 0.8rem;
  }
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.breakinition-block {
  display: flex;
  flex-direction: column; /* 子要素を縦方向に揃える */
  justify-content: center; /* フレックスアイテムの上下中央揃え */
  align-items: center; /* フレックスアイテムの左右中央揃え */
  gap: 10px;
  border: 1px solid #999;
  width: 95%;
  border-radius: 8px;
  padding: 10px 0;
  margin: 12px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.breakinition-block:nth-of-type(odd) {
  background-color: #e0ffff;
}

.breakinition-block:nth-of-type(even) {
  background-color: #eefcff;
}

.breakinition-block label {
  align-self: flex-start;
  margin-left: 20px;
}

.time-picker-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(100% - 40px);
  max-width: 400px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: auto;
}

.time-picker-wrapper label {
  font-size: 1rem;
  margin-left: 5px;
}

.time-picker {
  flex: 1;
  font-size: 1rem;
  padding: 8px 10px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #fff; 
}
