@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.kosu-list-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.h1-collar {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a:hover {
  color: #0af;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 180px;
}

.search-bar input:focus {
  border-color: #0ff;
  outline: none;
  box-shadow: 0 0 3px #555;
}

.search-bar button:hover {
  background-color: #0af;
  box-shadow: 0 0 5px #555;
}

.search-bar button:focus {
  outline: none;
  box-shadow: 0 0 3px #555;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.th-collar{
  background-color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.status-ok {
  color: blue;
  font-weight: bold;
}

.status-ng {
  color: red;
  font-weight: bold;
}


.a-collar{
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}


@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .kosu-nav a {
    font-size: 0.8rem;
  }
}