@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1-collar {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a:hover {
  color: #0af;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-calendar-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.kosu-calendar-wrapper p {
  white-space: nowrap; /* テキストを強制的に1行に表示し、折り返さない */
}

.table-wrapper {
  width: 100%;
  max-height: 400px;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}

.th-collar1 {
  background-color: #d3ffff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.th-collar2 {
  background-color: #0af;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.th-collar3 {
  background-color: #ff90f8;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.year-month-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center; 
}

.year-month-selector select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 2rem;
  cursor: pointer;
  appearance: none;
}

.year-month-selector select:hover {
  border-color: #0af;
}

.button-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.work-tyoku select {
  background-color: #fff;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.table-wrapper table tbody {
  position: relative;
}

.table-wrapper table tbody::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../img/RAV4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

@media (max-width: 768px) {
  .table-wrapper {
    margin: 0;
    justify-content: flex-start;
  }

  .table-wrapper table {
    transform: scale(0.6);
    transform-origin: top left;
  }

  .kosu-calendar-wrapper p {
    font-size: 0.8em;
  }

  .button-wrapper {
    transform: scale(0.8);
  }
}