@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1-collar {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a {
  color: #0ff;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-nav a:hover {
  color: #0af;
  text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 0.5px 0 #555;
}

.kosu-calendar-wrapper {
  animation: fadeInUp 1s ease-out;
  display: flex; /* 子要素をフレックスレイアウトにする */
  flex-direction: column; /* 縦方向に要素を並べる */
  justify-content: top;
  align-items: center; /* 横方向の中央に配置 */
  height: 100vh; /* 画面の高さいっぱいにする */
  width: 100%;
  margin: 0 auto; /* 横方向の中央寄せ */
  -webkit-overflow-scrolling: touch;
}